<div>
    <h1>Overview</h1>
    <p>Lighttel, or light telemetry protocol, is a protocol for sending telemetry data from a device to a collecting server.
    </p>
    <p>The protocol aims at being easy implement and use in constrained devices while at the same time having a small on-the-wire
        memory footprint. It draws quite a lot of inspiration from MQTT but at the same time attempts to fix some of the drawbacks,
        such as connection multiplexing.</p>

    <p>
        Messages are published to server endpoints and clients can subscribe to messages on server endpoints. Exactly what
        an endpoint is on the server is unspecified and the protocol does not impose any mapping between publish names and
        subscription names. It is perfectly valid to let client publish to the endpoint "/device/{id}/message" and let these
        messages be delivered to a single "$telemetry" endpoint. The only restriction is that an endpoint name must be at least
        1 character long.
    </p>
</div>
