<div>
    <h1>Use-cases</h1>
    <p>Two primary use-cases are considered:</p>
    <ol>
        <li/>
        <p>A single resource-constrained device with a direct connection to a server. The device sends telemetry data receives device-bound
            data such as settings. The device generally sends more data to the server than it receives back from the server.</p>
        <li/>
        <p>A field gateway that acts as a router for multiple devices, possibly 100s of devices. Each device communicates with the
            field gateway and the field gateway communicates with a server, sending telemetry data and receives device-bound data
            from/to itself and other devices.</p>
    </ol>
    <p>Both use-cases requires as little wire-data as possible to be sent and the protocol must be easy to parse and handle.
    </p>
</div>
