<div>
    <h1>Requirements</h1>
    <p>The protocol must meet the following requirements:</p>
    <ul>
        <li/>
        <p>Easy to parse</p>
        <li/>
        <p>Small message overhead</p>
        <li/>
        <p>Connection multiplexing</p>
        <ul>
            <li/>
            <p>For instance allow multiple devices to communicate over a single TCP connection</p>
        </ul>
        <li/>
        <p>Easy-to-handle protocol state-machine.</p>
        <li/>
        <p>Flexible authentication and authorization functionality
        </p>
        <ul>
            <li/>
            <p>In the case of a field gateway it is favorable if the gateway does not have to know the client-devices credentials but
                only have to rely on its own credentials</p>
        </ul>
    </ul>
</div>
