<div>
    <h1>Protocol basics</h1>
    <h2>Data representation</h2>
    <h3>Integers</h3>
    <p>All integers must be sent with the most significant byte first. 8, 16 and 32 bit integers are supported.</p>
    <h3>Strings</h3>
    <p>All strings must be utf-8 encoded. The string data is preceded by a 2-byte length field that gives the number of bytes
        in the string itself. Note that the length describes the total number of bytes and not the number of UTF code-points.</p>
    <p>All strings must be utf-8 encoded and must have the following format:</p>
    <table>
        <tr>
            <td>
                <p>
                    <b>Byte 1</b>
                </p>
            </td>
            <td>
                <p>String
                    <span style="font-style: normal">length</span> MSB</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <b>Byte 2</b>
                </p>
            </td>
            <td>
                <p>String
                    <span style="font-style: normal">length
                    </span>LSB</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <b>Byte 3...n</b>
                </p>
            </td>
            <td>
                <p>UTF-8 encoded character data, if length &gt; 0</p>
            </td>
        </tr>
    </table>
    <p>Null-characters must not be encoded. C strings are often represented as a character array that ends with a null-character,
        and the null-character must not be sent in that case.</p>
    <h2>Packet layout</h2>
    <p>Each packet sent will always have the following format:
    </p>
    <table>
        <tr>
            <td>
                <p align="center">
                    <b>Fixed header, always present</b>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">Packet dependent header</p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center">Packet dependent payload</p>
            </td>
        </tr>
    </table>
    <h2>Fixed header</h2>
    <p>The fixed header consists of the following fields</p>
    <table>
        <tr>
            <td>
                <p>
                    <b>Byte 1</b>
                </p>
            </td>
            <td>
                <p>Packet type</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <b>Byte 2...n</b>
                </p>
            </td>
            <td>
                <p>Remaining length = packet-dependent header length + payload length</p>
            </td>
        </tr>
    </table>
    <p>Remaining length is a variable sized field which uses bit 7, the most significant bit, to indicate that more length bytes
        are available. Thus each byte contains 7 value-bits and a single continuation-bit. At most 4 length bytes must be
        sent.
    </p>
    <h3>Remaining length examples</h3>
    <p>To encode the value 64 a single byte with the value 64 is sent.</p>
    <p>To encode the value 127 a single byte with the value 127 is sent.</p>
    <p>To encode 128 two bytes are sent: First the byte 0x81, then the value 0x00 is sent.</p>
    <h3>Packet types</h3>
    <p>The following packet types are defined:</p>
    <table>
        <tr>
            <td>
                <p>
                    <b>Name</b>
                </p>
            </td>
            <td>
                <p>
                    <b>Value</b>
                </p>
            </td>
            <td>
                <p>
                    <b>Flow</b>
                </p>
            </td>
            <td>
                <p>
                    <b>Description</b>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Reserved</p>
            </td>
            <td>
                <p>0</p>
            </td>
            <td>
                <p>Forbidden</p>
            </td>
            <td>
                <p>Reserved</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <a href="#connect">Connect</a>
                </p>
            </td>
            <td>
                <p>1</p>
            </td>
            <td>
                <p>Client to server</p>
            </td>
            <td>
                <p>Setup connection parameters</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <a href="#connect_ack">Connect ack</a>
                </p>
            </td>
            <td>
                <p>2</p>
            </td>
            <td>
                <p>Server to client</p>
            </td>
            <td>
                <p>Acknowledge and setup connection parameters</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Reserved</p>
            </td>
            <td>
                <p>3-9</p>
            </td>
            <td>
                <p>Forbidden</p>
            </td>
            <td>
                <p>Reserved</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <a href="#put_auth">Put Auth</a>
                </p>
            </td>
            <td>
                <p>10</p>
            </td>
            <td>
                <p>Client to server</p>
            </td>
            <td>
                <p>Setup authentication handles</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <a href="#put_auth_ack">Put Auth ack</a>
                </p>
            </td>
            <td>
                <p>11</p>
            </td>
            <td>
                <p>Server to client</p>
            </td>
            <td>
                <p>Acknowledge authentication handles</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <a href="#put_auth_nack">Put Auth nack</a>
                </p>
            </td>
            <td>
                <p>12</p>
            </td>
            <td>
                <p>Server to client</p>
            </td>
            <td>
                <p>Negative-acknowledge authentication handles</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Reserved</p>
            </td>
            <td>
                <p>13-19</p>
            </td>
            <td>
                <p>Forbidden</p>
            </td>
            <td>
                <p>Reserved</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><a href="#put_publish_handle">Put publish handle</a></p>
            </td>
            <td>
                <p>20</p>
            </td>
            <td>
                <p>Client to server</p>
            </td>
            <td>
                <p>Create a publish handle to be used when publishing messages</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><a href="#put_publish_handle_ack">Put publish handle ack</a></p>
            </td>
            <td>
                <p>21</p>
            </td>
            <td>
                <p>Server to client</p>
            </td>
            <td>
                <p>Acknowledge the creation of a publish handle</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Reserved</p>
            </td>
            <td>
                <p>22</p>
            </td>
            <td>
                <p>Forbidden</p>
            </td>
            <td>
                <p>Reserved</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <a href="#publish">Publish</a>
                </p>
            </td>
            <td>
                <p>23</p>
            </td>
            <td>
                <p>Client to server or server to client</p>
            </td>
            <td>
                <p>Publish a message to a publishing handle</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <a href="#batch_publish">Batch publish</a>
                </p>
            </td>
            <td>
                <p>24</p>
            </td>
            <td>
                <p>Client to server or server to client</p>
            </td>
            <td>
                <p>Publish a batch of messages to potentially may different handles</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <a href="#publish_ack">Publish ack</a>
                </p>
            </td>
            <td>
                <p>25</p>
            </td>
            <td>
                <p>Client to server or server to client</p>
            </td>
            <td>
                <p>Acknowledge the reception of published messages</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Reserved</p>
            </td>
            <td>
                <p>26-29</p>
            </td>
            <td>
                <p>Forbidden</p>
            </td>
            <td>
                <p>Reserved</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><a href="#subscribe">Subscribe</a></p>
            </td>
            <td>
                <p>30</p>
            </td>
            <td>
                <p>Client to server</p>
            </td>
            <td>
                <p>Setup subscription handles</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><a href="#subscribe_ack">Subscribe ack</a></p>
            </td>
            <td>
                <p>31</p>
            </td>
            <td>
                <p>Server to client</p>
            </td>
            <td>
                <p>Acknowledge subscription</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Reserved</p>
            </td>
            <td>
                <p>32</p>
            </td>
            <td>
                <p>Forbidden</p>
            </td>
            <td>
                <p>Reserved</p>
            </td>
        </tr>
        <tr>
            <td>
                <p><a href="#stop_subscribe">Stop subscription</a></p>
            </td>
            <td>
                <p>33</p>
            </td>
            <td>
                <p>Server to client or client to server</p>
            </td>
            <td>
                <p>Stop subscribing on a specific endpoint.
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Stop subscription ack</p>
            </td>
            <td>
                <p>34</p>
            </td>
            <td>
                <p>Client to server or server to client</p>
            </td>
            <td>
                <p>Acknowledge reception of a stop subscription message
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Reserved</p>
            </td>
            <td>
                <p>35-39</p>
            </td>
            <td>
                <p>Forbidden</p>
            </td>
            <td>
                <p>Reserved</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <a href="#ping">Ping</a>
                </p>
            </td>
            <td>
                <p>40</p>
            </td>
            <td>
                <p>Client to server or server to client</p>
            </td>
            <td>
                <p>Generate data by sending a ping</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Reserved</p>
            </td>
            <td>
                <p>41-99</p>
            </td>
            <td>
                <p>Forbidden</p>
            </td>
            <td>
                <p>Reserved</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Disconnect</p>
            </td>
            <td>
                <p>100</p>
            </td>
            <td>
                <p>Client to server or server to client</p>
            </td>
            <td>
                <p>Gracefully disconnect</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>Reserved</p>
            </td>
            <td>
                <p>101-128</p>
            </td>
            <td>
                <p>Forbidden</p>
            </td>
            <td>
                <p>Reserved</p>
            </td>
        </tr>
        <tr>
                <td>
                    <p>Server-specific packet types</p>
                </td>
                <td>
                    <p>129-255</p>
                </td>
                <td>
                    <p>Server-specific</p>
                </td>
                <td>
                    <p>Server-specific</p>
                </td>
            </tr>
    </table>
    <br/>
</div>