<h2 id="connect">Connect</h2>
<p>The connect packet must be the first packet sent by the client to the server after a network is established. This packet
    provides the server with the client capabilities. The connect packet has no packet-dependent header, and the payload
    must be as below.
</p>
<table>
    <tr>
        <td>
            <p>
                <b>Payload byte </b>
            </p>
        </td>
        <td style="border: 1px solid #000000; padding: 0.1cm">
            <p>
                <b>Description</b>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 1</b>
            </p>
        </td>
        <td>
            <p>Protocol version number. Must be set to 1.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 2</b>
            </p>
        </td>
        <td>
            <p>Maximum packet size MSB in 4 byte increments</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 3</b>
            </p>
        </td>
        <td>
            <p>Maximum packet size LSB in 4 byte increments</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 4</b>
            </p>
        </td>
        <td>
            <p>Connection idle timeout in seconds MSB</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 5</b>
            </p>
        </td>
        <td>
            <p>Connection idle timeout in seconds LSB</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 6</b>
            </p>
        </td>
        <td>
            <p>Requested remote connection idle timeout in seconds MSB</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 7</b>
            </p>
        </td>
        <td>
            <p>Requested remote connection idle timeout in seconds LSB</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 8</b>
            </p>
        </td>
        <td>
            <p>Flags</p>
        </td>
    </tr>
</table>
<h3>Protocol version</h3>
<p>Protocol version must be set to 1. A server that receives any other version than 1 must immediately close the network connection
    with the client.</p>
<h3>Maximum packet size</h3>
<p>Maximum packet size value multiplied by 4 gives the maximum total number of bytes the server is allowed to send in one packet,
    including the fixed header. Example: if a client sends 1024 as maximum packet size the server is allowed to send packets
    that are up to 4096 bytes big.</p>
<p>A client must close the network connection immediately if the server does not honor the maximum packet size.</p>
<h3>Connection idle timeout</h3>
<p>If no data is received from the server for a duration specified by connection idle timeout the client may consider the connection
    dead and close it. The server may send ping messages to reset the idle timeout timer. A value of 0 indicates that no
    idle timeout timer is used.</p>
<h3>Requested remote connection idle timeout</h3>
<p>Requested remote connection idle timeout hints to the server what the client considers a good timeout value. The server may
    ignore this value. A value of 0 means the client has no preference.
</p>
<h3>Flags</h3>
<p>Flags tells the server the capabilities of the client</p>
<table>
    <tr>
        <td>
            <p>
                <b>Bit</b>
            </p>
        </td>
        <td>
            <p>
                <b>7</b>
            </p>
        </td>
        <td>
            <p>
                <b>[6:1]</b>
            </p>
        </td>
        <td>
            <p><b>0</b></p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Description</b>
            </p>
        </td>
        <td><p>Batch publish reception support</p></td>
        <td>
            <p>Reserved &ndash; always 0</p>
        </td>
        <td>
            <p>Deflate decompression support</p>
        </td>
    </tr>
</table>