<h2 id="connect_ack">Connect ack</h2>
<p>As a response to the connect packet the server may send the connect ack message. This packet provides the client with the
    server capabilities. The connect ack packet has no packet-dependent header, and the payload must be as below.</p>
<table>
    <tr>
        <td>
            <p>
                <b>Payload byte </b>
            </p>
        </td>
        <td>
            <p>
                <b>Description</b>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 1</b>
            </p>
        </td>
        <td>
            <p>Protocol version number. Must be set to 1.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 2</b>
            </p>
        </td>
        <td>
            <p>Maximum packet size MSB in 4 byte increments</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 3</b>
            </p>
        </td>
        <td>
            <p>Maximum packet size LSB in 4 byte increments</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 4</b>
            </p>
        </td>
        <td>
            <p>Connection idle timeout in seconds MSB</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 5</b>
            </p>
        </td>
        <td>
            <p>Connection idle timeout in seconds LSB</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 6</b>
            </p>
        </td>
        <td>
            <p>Compression decoding support</p>
        </td>
    </tr>
</table>
<h3>Protocol version</h3>
<p>Protocol version must be set to 1. A client that receives any other version than 1 must immediately close the network connection
    with the server.</p>
<h3>Maximum packet size</h3>
<p>Maximum packet size value multiplied by 4 gives the maximum total number of bytes the client is allowed to send in one packet.
    This limit is including the fixed header.</p>
<p>A server must close the network connection immediately if the client does not honor the maximum packet size.</p>
<h3>Connection idle timeout</h3>
<p>If no data is received from the client for a duration specified by connection idle timeout the server may consider the connection
    dead and close it. The client may send ping messages to reset the idle timeout timer. A value of 0 indicates that no
    idle timeout timer is used.</p>
<h3>Compression decoding support</h3>
<p>Tells the client which compression algorithms (if any) the server can decode. See table below
    for compression algorithms. If no compression decoding is supported this value must be set to 0.</p>
<table>
    <tr>
        <td>
            <p>
                <b>Bit</b>
            </p>
        </td>
        <td>
            <p>
                <b>[7:1]</b>
            </p>
        </td>
        <td>
            <p>
                <b>0</b>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Description</b>
            </p>
        </td>
        <td>
            <p>Reserved &ndash; always 0</p>
        </td>
        <td>
            <p>Deflate</p>
        </td>
    </tr>
</table>
<p>If the server is unable to send a connect ack response to a connect message for some reason it may send a disconnect message
    before closing the connection.</p>
<p>Unlike for clients, servers must support reception of batch publish messages.</p>