<h2 id="put_auth">Put Auth</h2>
<p>
    Before a client can publish and subscribe to messages it must create at least one authentication handle.
</p>
<p>Put auth messages has no packet-dependent header.</p>
<p>The payload consists of one or multiple authentications. Each authentication has the following structure:</p>
<table>
    <tr>
        <td>
            <p>
                <b>Byte</b>
            </p>
        </td>
        <td>
            <p>
                <b>Description</b>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 1</b>
            </p>
        </td>
        <td>
            <p>Handle identifier MSB
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 2</b>
            </p>
        </td>
        <td>
            <p>Handle identifier LSB
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 3</b>
            </p>
        </td>
        <td>
            <p>Authentication method
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 4...y</b>
            </p>
        </td>
        <td>
            <p>Authentication data</p>
        </td>
    </tr>
</table>
<h3>Handle identifier</h3>
<p>The handle identifier is either</p>
<ul>
    <li/>
    <p>a, for the network connection, unique number that is not currently used as an identifier without being revoked first</p>
    <li/>
    <p>in the case of refreshing an already established authentication; a previously used handle</p>
</ul>
<p>If the handle identifier currently isn&rsquo;t in use only server-specific restrictions on authentication
    method or authentication credentials are applied.</p>
<p>If the handle identifier is currently in use the following protocol restrictions apply:</p>
<ol>
    <li/>
    <p>The authentication method must match the previously supplied method</p>
    <li/>
    <p>Authentication-method-specific restrictions apply
    </p>
</ol>
<h3>Authentication method</h3>
<p style="margin-bottom: 0cm; line-height: 100%; page-break-before: auto">
    <font color="#000000">The following values are supported as authentication methods:</font>
</p>
<br />
<table>
    <tr>
        <td>
            <p>
                <b>Authentication method value</b>
            </p>
        </td>
        <td>
            <p>
                <b>Description</b>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>0</b>
            </p>
        </td>
        <td>
            <p>Username and password</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>1-128</b>
            </p>
        </td>
        <td>
            <p>Reserved
            </p>
        </td>
    </tr>
    <tr>
            <td>
                <p>
                    <b>129-255</b>
                </p>
            </td>
            <td>
                <p>Server-specific
                </p>
            </td>
        </tr>
</table>
<h3>Authentication data</h3>
<p>The authentication data depends on the authentication method.</p>
<p style="margin-bottom: 0cm; line-height: 100%; page-break-before: auto">
    <font color="#000000">For method 0, username and password, authentication data must consist of two UTF-8 strings. The first
        string must be the username and must not be empty, the second must be the password and may be empty.</font>
</p>

<p style="margin-bottom: 0cm; line-height: 100%; page-break-before: auto">
    <font color="#000000">If the handle identifier is being refreshed and authentication method 0 is used the username must match the previously
        supplied username.</font>
</p>