<h2 id="put_auth_ack">Put Auth ack</h2>
<p>If the credentials previously sent by a put auth message are valid and the, the
    server must respond with a put auth ack message.</p>
<p>Put auth ack messages have no message-specific headers.
</p>
<p>The payload consists of one or multiple acknowledgments. Each ack has the following structure:</p>
<table>
    <tr>
        <td>
            <p>
                <b>Byte</b>
            </p>
        </td>
        <td>
            <p>
                <b>Description</b>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 1</b>
            </p>
        </td>
        <td>
            <p>Handle identifier MSB
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 2</b>
            </p>
        </td>
        <td>
            <p>Handle identifier LSB
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 3</b>
            </p>
        </td>
        <td>
            <p>Valid for MSB</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 4</b>
            </p>
        </td>
        <td>
            <p>Valid for LSB</p>
        </td>
    </tr>
</table>
<h3>Handle identifier</h3>
<p>The handle identifier tells which handle the put auth ack is associated with. If the client receives a put auth identifier
    for an unexpected handle the client must disconnect.</p>
<h3>Valid for</h3>
<p>Valid for hints how many seconds the credentials are vaild, before they must be refreshed or they should be considered implicitly
    revoked. A value of 0 means infinity and no credential refreshments needs to be made.
</p>