<h2 id="put_auth_nack">Put auth nack</h2>
<p>If the credentials are invalid and the client isn&rsquo;t allowed to use them
the server must respond with a put auth nack message.</p>
<p>Put auth nack messages have no message-specific headers.
</p>
<p>The payload consists of one or multiple nacks with the following structure:</p>
<table>
    <col>
    <col>
    <tr>
        <td>
            <p>
                <b>Byte</b>
            </p>
        </td>
        <td>
            <p>
                <b>Description</b>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 1</b>
            </p>
        </td>
        <td>
            <p>Handle identifier MSB
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 2</b>
            </p>
        </td>
        <td>
            <p>Handle identifier LSB
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 3</b>
            </p>
        </td>
        <td>
            <p>Reason</p>
        </td>
    </tr>
</table>
<h3>Handle identifier</h3>
<p>The handle identifier tells which handle the put auth nack is associated with. If the client receives an identifier for an
    unexpected handle the client must disconnect.
</p>
<h3>Reason</h3>
<p>The reason for nacking the put auth. The following reasons are defined:</p>
<table>
    <col>
    <col>
    <tr>
        <td>
            <p>
                <b>Value</b>
            </p>
        </td>
        <td>
            <p>
                <b>Description</b>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>0</b>
            </p>
        </td>
        <td>
            <p>Unspecified reason</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>1</b>
            </p>
        </td>
        <td>
            <p>Bad credentials</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>2</b>
            </p>
        </td>
        <td>
            <p>Bad authentication method
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>4</b>
            </p>
        </td>
        <td>
            <p>Bad handle</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>5-127</b>
            </p>
        </td>
        <td>
            <p>Reserved</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>128-255</b>
            </p>
        </td>
        <td>
            <p>Server-specific codes</p>
        </td>
    </tr>
</table>
<p style="margin-bottom: 0cm; line-height: 100%; page-break-before: auto">
    <font color="#000000">The server and the client must close the connection if the reason is &ldquo;bad handle&rdquo;.</font>
</p>