<h2 id="put_publish_handle">Put publish handle</h2>
<p>Create or modify a shorthand for an endpoint. Up to 65535 shorthand endpoints can be created</p>
<p>A shorthand for an endpoint simply creates a mapping on the server-side where the handle is mapped to the
    actual endpoint string. A mapping can be replaced at any time simply by sending a new
    message changing the endpoint for a specific ID.
</p>
<p>Put publish handle does not have a packet-specific header.</p>
<p>The payload consist of one or more of the following items</p>
<table>
    <tr>
        <td><p><b>Byte</b></p></td>
        <td><p><b>Description</b></p></td>
    </tr>
    <tr>
        <td><p><b>Byte 1</b></p></td>
        <td><p>Publish handle ID MSB</p></td>
    </tr>
    <tr>
        <td><p><b>Byte 2</b></p></td>
        <td><p>Publish handle ID LSB</p></td>
    </tr>
    <tr>
        <td><p><b>Byte 3...x</b></p></td>
        <td><p>Endpoint</p></td>
    </tr>
</table>
<h3>Publish handle ID</h3>
<p>The ID that will be used.</p>
<h3>Endpoint</h3>
<p>The endpoint name, encoded as a UTF-8 encoded string, that the handle shall be mapped to.</p>