<h2 id="put_publish_handle_ack">Put publish handle ACK</h2>
<p> Acknowledge the reception and handling of a <i>Put publish handle</i> message.
    An ACK can be either successful or a failure. Only successfully created mappings
    may be used after the ACK is received by the client.
</p>
<table>
    <tr>
        <td><p><b>Byte</b></p></td>
        <td><p><b>Description</b></p></td>
    </tr>
    <tr>
        <td><p><b>Byte 1</b></p></td>
        <td><p>Publish handle ID MSB</p></td>
    </tr>
    <tr>
        <td><p><b>Byte 2</b></p></td>
        <td><p>Publish handle ID LSB</p></td>
    </tr>
    <tr>
        <td><p><b>Byte 3</b></p></td>
        <td><p>Result</p></td>
    </tr>
</table>
<h3>Publish handle ID</h3>
<p>The handle the ACK is meant for</p>

<h3>Result</h3>
<p>The result of the mapping</p>
<table>
    <tr>
        <td><p><b>Value</b></p></td>
        <td><p><b>Description</b></p></td>
    </tr>
    <tr>
        <td><p>0</p></td>
        <td><p>Success</p></td>
    </tr>
    <tr>
        <td><p>0x80</p></td>
        <td><p>Failure</p></td>
    </tr>
</table>