<h2 id="publish">
    <a name="__RefHeading___Toc1162_200859794"></a>Publish</h2>
<p>When a client or server wishes to publish data the publish packet is sent. The publish packet has the following packet-dependent
    header:
</p>
<table>
    <tr>
        <td>
            <p>
                <b>Packet-header byte</b>
            </p>
        </td>
        <td>
            <p>
                <b>Description</b>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 1</b>
            </p>
        </td>
        <td>
            <p>Message ID MSB</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 2</b>
            </p>
        </td>
        <td>
            <p>Message ID LSB</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><b>Byte 3</b></p>
        </td>
        <td><p>Flags</p></td>
    </tr>
    <tr>
        <td>
            <p><b>Byte 4...x</b></p>
        </td>
        <td><p>Endpoint</p></td>
    </tr>
    <tr>
        <td><p><b>Byte n...m</b></p></td>
        <td><p>Message header field length</p></td>
    </tr>
    <tr>
        <td><p><b>Byte m...o</b></p></td>
        <td><p>Message header field data</p></td>
    </tr>
</table>
<p style="margin-bottom: 0cm; line-height: 100%; page-break-before: auto">
    <font color="#000000">After the packet-dependent header the publish payload will be sent.</font>
</p>
<h3>Message ID</h3>
<p>The message ID is a, for each handle, unique identifier for the published message. A message ID must not be used for a different
    message until the publish has been acknowledged. A message is identified as different if the content in either the packet-dependent
    header or the payload differs.</p>
<p>Using the same message ID for different messages with different handles is allowed.</p>
<p>After a publish has been acknowledged the message ID can be reused on that handle again.</p>
<h3 id="publish_flags">Flags</h3>
<p>Tells what kind of endpoint data is sent and what kind of compression
    is used.
<p>
    If <i>string endpoint</i> bit is set the endpoint field in the
    header contains a UTF-8 encoded string describing the the endpoint. otherwise
    an an endpoint handle, previously created by a <i>put publishing handle</i> message,
    is sent as a uint16.
</p>
<p>
    If <i>Deflate compression</i> bit is set the publish payload <b>and</b> message header field data is 
    compressed by the deflate algorithm.
</p>
</p>
<table>
    <tr>
        <td><p><b>Bits</b></p></td>
        <td><p><b>7</b></p></td>
        <td><p><b>[6:1]</b></p></td>
        <td><p><b>0</b></p></td>
    </tr>
    <tr>
        <td><p><b>Description</b></p></td>
        <td><p>String endpoint</p></td>
        <td><p>Reserved</p></td>
        <td><p>Deflate compression</p></td>
    </tr>
</table>
<h3>Message header field length</h3>
<p>The <b>uncompressed</b> length of the Message header field data. This field is encoded in the same way
as remaining length in the fixed header.</p>

<h3>Message header field data</h3>
<p>A publish message can include a header field which can be modified by the server as well as the client
    and can be used to send additional information with messages.
    
    Each entry in the message header consists of two UTF8-encoded strings, a key and a value.
</p>