<h2 id="batch_publish">Batch publish</h2>
<p>To enable a client to publish multiple messages in one big message and enable efficient compression a batch publish message
    can be sent. The batch publish message has the following packet-dependent header:</p>
<table>
    <col>
    <col>
    <tr>
        <td>
            <p>
                <b>Packet-header byte</b>
            </p>
        </td>
        <td>
            <p>
                <b>Description</b>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 1</b>
            </p>
        </td>
        <td>
            <p>Compression</p>
        </td>
    </tr>
</table>
<h3>Compression</h3>
<p>The compression algorithm used on the batch publish payload. See compression support in the &ldquo;Connect&rdquo; chapter
    for details on valid values. The publisher must not use an unsupported compression-algorithm. The connection must be
    closed if a publish message with an unsupported compression is received.</p>
<h3>Batch publish payload</h3>
<p style="margin-bottom: 0cm; line-height: 100%; page-break-before: auto">
    <font color="#000000">After the packet-dependent header one or multiple instances of the following structure is sent, possibly compressed depending
        on the compression field in the packet-dependent header:
    </font>
</p>
<table>
    <col>
    <col>
    <tr>
        <td>
            <p>
                <b>Byte</b>
            </p>
        </td>
        <td>
            <p>
                <b>Description</b>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte 1...n</b>
            </p>
        </td>
        <td>
            <p>Message header and payload length
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte n+1</b>
            </p>
        </td>
        <td>
            <p>Message ID MSB</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte n+2</b>
            </p>
        </td>
        <td>
            <p>Message ID LSB</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte n+3</b>
            </p>
        </td>
        <td>
            <p>Endpoint type</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>
                <b>Byte n+4...x</b>
            </p>
        </td>
        <td>
            <p>Endpoint</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><b>Byte x+1...y</b></p>
        </td>
        <td><p>Message header field length</p></td>
    </tr>
    <tr>
            <td>
                <p><b>Byte y+1...z</b></p>
            </td>
            <td><p>Message header field data</p></td>
        </tr>
    <tr>
        <td>
            <p>
                <b>Byte z+1...a</b>
            </p>
        </td>
        <td>
            <p>Publish payload</p>
        </td>
    </tr>
</table>
<p style="margin-bottom: 0cm; line-height: 100%; page-break-before: auto">
    <font color="#000000">Each instant should be considered a single publish message.</font>
</p>
<h3>Message header and payload length</h3>
<p>The length of message header length + message header data + publish payload, in bytes. This is encoded in the same way as the fixed header remaining length field.
</p>
<h3>Message ID</h3>
<p>See <a href="#publish">publish</a> for usage.</p>
<h3>Endpoint type</h3>
<p>Describes what kind of data is sent in endpoint.
    if <i>string endpoint</i> bit is set the endpoint data is
    a UTF-8 encoded string. Otherwise a handle is sent.
    See <a href="#publish_flags">publish flags</a> for more info.
</p>
<table>
    <tr>
        <td><p><b>Bit</b></p></td>
        <td><p><b>7</b></p></td>
        <td><p><b>[6:0]</b></p></td>
    </tr>
    <tr>
        <td><p><b>Description</b></p></td>
        <td><p>String endpoint</p></td>
        <td><p>Reserved - always 0</p></td>
    </tr>
</table>
<h3>Endpoint</h3>
<p>Depending on the <i>flags</i> field this is either a UTF-8 encoded
    string or a uint16. See <a href="#publish">publish</a> for more info.
</p>

<h3>Message header field length</h3>
<p>Encoded in the same way as remaining length in the fixed header and tells the length of the Message header field data.</p>

<h3>Message header field data</h3>
<p>A publish message can include a header field which can be modified by the server as well as the client
    and can be used to send additional information with messages.
    Each entry in the message header consists of two UTF8-encoded strings, a key and a value.
</p>

<h3>Publish payload</h3>
<p>The data payload that is published.</p>