<h2 id="publish_ack">Publish ack</h2>
<p>
    Acknowledges the reception of published message. When this is received the message has completely transferred ownership to
    the party that received the published message. After a publish ACK is received the message ID is free to be reused to
    publish a new message.
</p>
<p>
    The payload consists of at least one, but may contain several instances, of the following structure:
</p>
<table>
    <tr>
        <td>
            <strong>Byte</strong>
        </td>
        <td>
            <strong>Description</strong>
        </td>
    </tr>
    <tr>
        <td>
            <strong>Byte 1</strong>
        </td>
        <td>Message ID MSB</td>
    </tr>
    <tr>
        <td>
            <strong>Byte 2</strong>
        </td>
        <td>Message ID LSB</td>
    </tr>
</table>