<h2 id="subscribe">Subscribe</h2>
<p>A client sends this message to start subscribing on messages on a specified endpoint.
    When setting up the subscription the client can specify a short-hand handle or it can
    tell the server to always use the full endpoint name.
</p>
<p>Messages that the client subscribes on will be sent to the client as publish messages.</p>
<p>The packet contains no packet-specific header.
    The payload consists of one or multiple of the following data:</p>
<table>
    <tr>
        <td><p><b>Byte</b></p></td>
        <td><p><b>Description</b></p></td>
    </tr>
    <tr>
        <td><p><b>Byte 1</b></p></td>
        <td><p>Subscription handle ID MSB</p></td>
    </tr>
    <tr>
        <td><p><b>Byte 2</b></p></td>
        <td><p>Subscription handle ID LSB</p></td>
    </tr>
    <tr>
        <td><p><b>Byte 3...n</b></p></td>
        <td><p>Endpoint</p></td>
    </tr>
</table>
<h3>Handle ID</h3>
<p>
Handle ID specifies the shorthand ID that can be used when the server publishes messages to the client.
The value <b>0</b> is reserved and will tell the server that it must use the full endpoint name when publishing
messages to the client.
</p>
<p>
    A handle ID can only be reused for a different endpoint if a stop subscription message is received for that handle first.
</p>
<h3>Endpoint</h3>
<p>
    Endpoint is a UTF8-encoded string naming the endpoint the client wants to subscribe to.
</p>