<h2 id="subscribe_ack">Subscribe ACK</h2>
<p>
    Acknowledges the reception and handling of one or multiple
    <a href="#subscribe">subscription(s)</a>.
    Each subscription is identified either by the short-handle or by
    their long name, but not both at the same time.
</p>
<p>Subscribe ACK does not have a packet-specific header.
    The payload consists of one or multiple of the following data:
</p>
<table>
    <tr>
        <td><p><b>Byte</b></p></td>
        <td><p><b>Description</b></p></td>
    </tr>
    <tr>
        <td><p>Byte 1</p></td>
        <td><p>Handle ID MSB</p></td>
    </tr>
    <tr>
        <td><p>Byte 2</p></td>
        <td><p>Handle ID LSB</p></td>
    </tr>
    <tr>
        <td><p>Byte 3...n</p></td>
        <td><p>Handle ID dependant data</p></td>
    </tr>
</table>
<h3>Handle ID</h3>
<p>
    The short-hand ID that the ACK concerns. If this value is <b>0</b>
    <i>Handle ID dependant data</i> consists of the endpoint name, as a UTF-8 encoded string,
    followed by a 1 byte result code. If Handle ID is <b>not 0</b>
    <i>handle ID dependant data</i> consists of a 1 byte result code.
</p>
<h3>Result code</h3>
<p>The result code can have the following values:</p>
<table>
        <tr>
            <td><p><b>Value</b></p></td>
            <td><p><b>Description</b></p></td>
        </tr>
        <tr>
            <td><p>0</p></td>
            <td><p>Success</p></td>
        </tr>
        <tr>
            <td><p>0x80</p></td>
            <td><p>Failure</p></td>
        </tr>
    </table>