<h2 id="stop_subscribe">Stop subscription</h2>
<p>Both the server and the client may send this at any time
    to inform the other party that a subscription has ended.
</p>
<p>After a server has sent this it may stop sending messages on the specified subscription, even though
    no ack has been received. The client must be able to handle new messages on a subscription
    until an ack has been received. After the ack is received by the client it can assume that no
    new messages will arrive on the subscription.
</p>
<p>The packet contains no packet-specific header.
    The payload consists of one or multiple of the following data:</p>
<table>
    <tr>
        <td><p><b>Byte</b></p></td>
        <td><p><b>Description</b></p></td>
    </tr>
    <tr>
        <td><p><b>Byte 1</b></p></td>
        <td><p>Subscription handle ID MSB</p></td>
    </tr>
    <tr>
        <td><p><b>Byte 2</b></p></td>
        <td><p>Subscription handle ID LSB</p></td>
    </tr>
    <tr>
        <td><p><b>Byte 3...n</b></p></td>
        <td><p>Handle ID specific data</p></td>
    </tr>
</table>
<h3>Handle ID</h3>
<p>
Handle ID specifies the shorthand ID for the subscription that should be stopped.
If handle ID is set to <b>0</b> <i>handle ID specific data</i> must be a UTF-8 encoded string
of the endpoint name that will be stopped.
If handle ID is <b>not 0</b> <i>handle ID specific data</i> must not contain any bytes at all.
</p>