<h2 id="ping">Ping</h2>
<p>The ping message is used to generate data in order to satisfy idle timeouts. A sender of a ping shall not assume a response
    of any kind to a ping message. The ping message shall not have any payload.</p>