</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
	$('h1').each(function (idx, elem) {
		if (idx != 0) {
			var heading_id = "heading_h1_" + idx;
			$(elem).attr("id", heading_id);
			var sub_items = $("<ul style='list-style-type: none;'></ul>");
			$(elem).parent().children('h2').each(function (idx, subelem) {
				console.log($(subelem).text());
				var subheading_id = heading_id + "_h2_" + idx;
				var existing_id = $(subelem).attr("id")
				if(existing_id !== undefined && existing_id.length > 0) {
					subheading_id = existing_id;
				}
				else {
					$(subelem).attr("id", subheading_id);
				}
				$("<li><a href=#" + subheading_id + ">" + $(subelem).text() + "</a></li>").appendTo(sub_items);
			});
			var main_heading = $("<li><a href=#" + heading_id + ">" + $(elem).text() + "</a></li>");
			sub_items.appendTo(main_heading);
			main_heading.appendTo($('#toc'))
		}
	});
</script>

</html>
